
.navbar {
  position: fixed;
  z-index : 999;
  background-color: #2F4F4F;
  height: 70px;
  width: 100%;
}
.navbar .navGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center; 
    align-items: center;
    padding: 15px 15px;
    border: 2px solid #fff;
}


#navItem1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center; 
  align-items: center;
}

#navItem2 {
  height: 40px;
}

#navItem2 form{
  width: 480px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-items: center; 
  align-items: center;
  grid-gap: 0px;
}


#searchInput {
  font-family: 'Poppins' sans-serif;
  border: 2px solid #008B8B;
  font-weight: 450;
  font-size: 15px;
  margin-left: 10px;
  color: #2F4F4F;
  width: 420px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  outline: none;
}

#searchBtn {
  height: 38px;
  width: 50px;
}

#dropdownBtn {
  height: 35px;
  width: 50px;
}

#navItem3 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center; 
  align-items: center;
  width: 140px;
  height: 35px;
}

#navItem4 {
  width: 180px;
  height: 35px;
  padding-top: 5px;
  padding-left: 10px;
}

.welcome-class {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
 
}

#navItem5 {
  /* display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center; 
  align-items: center; */
  width: 120px;
}

#navItem6 {
  width: 120px;
}

#logoImg img {
  width: 40px;
  height: 40px;   
}

#cartItem1 img{
  width: 40px;
  height: 40px;
}

#cartItem2 {
  font-size: 22px;
  font-weight: 600;
}

#loginlogoutBtn{
  font-size: 15px;
  font-weight: 600;
  width: 130px;
  height: 35px;
  width: 150px;
  color: #2F4F4F;
  background-color:#ffffff;
  border: 0px;
  border-radius: 10px;
}

#title {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}


#cartBtn{
  font-size: 15px;
  font-weight: 600;
  height: 35px;
  width: 120px;
  color: #2F4F4F;
  background-color:#ffffff;
  border: 0px;
  border-radius: 10px;
}

#orderBtn {
  font-size: 15px;
  font-weight: 600;
  height: 35px;
  width: 120px;
  color: #2F4F4F;
  background-color:#ffffff;
  border: 0px;
  border-radius: 10px;
}

.loginpage-container-active {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index : 999;
  height: 820px;
  width: 100%;  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center; 
  align-items: center;
}

.loginpage-container-passive {
  background-color: rgba(0,0,0,0);
}